* {
    box-sizing: border-box;
  }

  .container {
    height: 600px;
    width: 800px;
    margin-top: 50px;
    margin: auto;
    display:flex;
  }

  .immagine {
    height: 600px;
    width: 700px;
  }

  i {
    font-size: 50px;
    align-self: center;
  }

  .dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
  }

  .relative {
    position: relative;
  }

  .dotContainer {
    margin: auto;
    position: absolute;
    bottom: 50px;
    display: flex;
   left: 50%;
   transform: translate(-50%);
  }

  .colore {
    background-color: green;
  }